#body-main {
    background-color: white;
}

.box {
    height: 200px;
    color: black;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.red {
    border: 10px solid red;
}

.box.green {
    border: 10px solid green;
}

.box.blue {
    border: 10px solid blue;
}

.box.yellow {
    border: 10px solid yellow;
}

@media (max-width: 750px) {
    .box {
        width: 50%;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    #body-main {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    #body-main {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }

    .box.red {
        order: 2;
    }
    
    .box.green {
        order: 1;
    }
    
    .box.blue {
        order: 3;
    }
    
    .box.yellow {
        order: 4;
    }
}

@media (min-width: 1250px) and (max-width: 1500px) {
    #body-main {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }
    
    .box.green {
        display: none;
    }
    .box.yellow {
        display: none;
    }
}

@media (min-width: 1500px) and (max-width: 1750px) {
    #body-main {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }
    
    .box.red {
        display: none;
    }
    .box.blue {
        display: none;
    }
}

@media (min-width: 1750px) {
    #body-main {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .box {
        width: 50%;
    }
}

a.back-to-home {
    width: fit-content;
    background-color: black;
    border: 1px solid white;
    border-radius: 0.3em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    padding: 1em 0.5em;
    margin: 1em 0;
    display: block;
}