body {
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
}

#header-h1 {
    color: #701819;
    font-family: 'Dancing Script', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 0 0 5px #701819;
}

#header-h2 {
    color: #C04545;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 0 0 5px rgba(192,69,69, 0.7);
    text-transform: uppercase;
}

main #summary {
    width: 300px;
    height: 100vh;
    background-color: #738092;
    border-left: 5px solid #6F1C17;
    border-right: 5px solid #6F1C17;
    padding: 30px 0;
    position: absolute;
    left: 1.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main #summary nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

main #summary nav a {
    color: #831718;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0 0 3px #831718;
    transition: 0.5s;
}

main #summary nav a:hover {
    color: #060607;
    font-weight: 700;
    text-shadow: 0 0 1px #060607;
    transform: scale(1.1);
    transition: 0.5s;
}

main #summary p a {
    color: #701819;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0 0 3px #701819;
    display: block;
    text-align: center;
    padding-bottom: 0.3em;
}

main #summary p a:hover {
    color: #060607;
    text-shadow: 0 0 5px #060607;
}

main #summary em {
    color: #701819;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 0 0 5px #701819;
}

main #main-section {
    background-color: #CCD7E3;
    height: 100vh;
    text-align: center;
    text-shadow: 0 0 3px #CCD8E2;
    border-right: 5px solid #6F1C17;
    padding-left: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

main #main-section p {
    color: #060607;
    text-shadow: 0 0 1px #ABADB7;
}

main #main-section #main-section-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #main-section #main-section-container {
    height: calc(100vh - 150px);
    overflow: auto;
}

main #main-section #main-section-container-page {
    height: 100vh;
    overflow: auto;
}

main #main-section #main-section-container article {
    font-size: 1.5em;
}

main #main-section #main-section-container #accueil-image {
    border-bottom: 3px solid black;
    margin-top: 3em;
    pointer-events: none;
}

#main-footer p {
    height: 50px;
}

#main-footer p {
    color: #6C737B;
    font-size: 1em;
    font-weight: 500;
    text-shadow: 0 0 5px #6C737B;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #summary nav .lien-block-summary {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

main #summary nav .lien-block-summary .div-cible {
    display: none;
    background-color: #EEEEEE;
    width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #505561;
    border-radius: 0.5em;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 1;
}

main #summary nav .lien-block-summary .div-cible-html {
    display: none;
    background-color: #EEEEEE;
    width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #505561;
    border-radius: 0.5em;
    position: absolute;
    top: 100%;
    left: 100%;
}

main #summary nav .lien-block-summary .lien-survol:hover + .div-cible {
    display: block;
}

main #summary nav .lien-block-summary .lien-survol:hover + .div-cible-html {
    display: block;
}