 body {
    background-image: url('../images/karmine-corp/bluewall.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 300px;
    font-family: 'Oswald';
}

#container {
    background-color: #FFFFFF;
    width: 800px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    margin: 1em auto;
    position: relative;
}

header {
    height: 15em;
    background-image: url('../images/karmine-corp/KC_logo_black.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 250px;
    margin: 1.5em 0;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0 auto;
}

h1 {
    width: 750px;
    font-size: 2em;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 0.5em 0 0.7em;
    position: relative;
    top: 255px;
}

h2 {
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;
}


h3 {
    color: #003BBF;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

header strong {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.5em;
    padding: 0.3em 0.7em;
    margin: 0 0.7em;
}

main p {
    text-align: left;
    line-height: 1.4;
    padding: 0.5em 1em;
}

#container-presentation  {
    background-color: lightgray;
    width: 700px;
    margin: 110px auto 0;
}

#container-presentation #club-presentation {
    font-size: 1em;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#container-presentation #club-presentation #club-logo-white {
    width: 150px;
    height: 120px;
    padding: 0 0 0 1em;
}

#container-presentation #club-presentation strong {
    font-weight: 700;
}

#container-presentation #club-discovery{
    margin: auto;
}

#container-presentation #club-discovery p {
    width: 95%;
    border-top: 2px solid darkblue;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding: 1em 0;
    margin: 1em auto;
}

#container-presentation #club-kcorp p {
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

#container-presentation #club-kcorp p:last-child {
    padding-bottom: 2em;
}

#container-players em {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
}

#container-players nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container-players a {
    background-color: lightgray;
    color: black;
    padding: 0.5em 2em;
    margin: 0.5em 1em;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: 1s;
}

#container-players a:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}

#container-pictures article {
    background-color: none;
    width: 200px;
    border: 1px solid lightgray;
    padding: 1em 1em;
    margin: 0.5em auto;
}

#container-pictures #wrap {
    display: flex;
    flex-wrap: wrap;
}

#container-pictures article img {
    width: 150px;
    margin-bottom: 20px;
}

#container-pictures article p {
    text-align: center;
}

footer {
    background-color: lightgray;
    margin: 1em 1em;
}

footer p {
    font-size: 1em;
    padding: 1.5em 0 4em;
}