#body {
    background-color: #42292F;
}

#body-main {
    background-color: #42292F;
}

#animes-container {
    width: 850px;
    color: white;
    font-family: 'Open Sans';
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: 700;
}

#animes-h1, #animes-h2, #animes-h3, .animes-h4 {
    font-weight: 700;

}

#animes-h1, #animes-h3 {
    background-color: #A02040;
}

#animes-h2, #animes-h4 {
    color: #D04064;
}

#animes-h3, .animes-h4 {
    text-transform: uppercase;
}

#animes-h1 {
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em 0 0.7em;
    border-bottom: 3px solid black;
    border-radius: 0.3em;
}

#animes-h2 {
    font-size: 1.3em;
    padding: 0.5em 0 0.7em;
    text-shadow: 0 0 2px #D04064;
}

#animes-h3 {
    width: 250px;
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em 0;
}

.animes-h4 {
    font-size: 1em;
    padding: 0 0 0.7em;
    border-bottom: 3px solid #D04064;
}

#animes-header #animes-first-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

#animes-header #animes-first-wrap #animes-header-link-infos a {
    color: #DB7E95;
    font-size: 1em;
    margin-right: 2em;
    text-shadow: 0 0 2px #D04064;
}

#animes-header #animes-first-wrap #animes-header-link-infos a:hover {
    color: #FFD3D7;
}

#animes-header #animes-first-wrap #animes-header-link-medias img.animes-icon-medias {
    width: 30px;
    margin-right: 0.3em;
    transition: 1s;
}

#animes-header #animes-first-wrap #animes-header-link-medias img.animes-icon-medias:hover {
    transform: scale(1.3);
    transform: rotate(360deg);
    transition: 1s;
}

main a.text-link {
    color: #DB7E95;
    text-decoration: underline;
    text-shadow: 0 0 1px #D04064;
}

main a.text-link:hover {
    color: #FFD3D7;
}

main #animes-main-first-section {
    text-align: left;
}

main #animes-main-first-section p {
    color: white;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
    padding: 0.5em 0 1em;
}

main #animes-main-second-section {
    position: relative;
}

main #animes-main-second-section h3 {
    position: absolute;
    top: 0;
}
main #animes-main-second-section img {
    width: 100%;
    pointer-events: none;
}

main #animes-main-third-section {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

main #animes-main-third-section #animes-main-third-section-first-article {
    width: 70%;
    padding: 0 3em 0 0;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery img {
    width: 25%;
    padding: 0.2em;
    transition: 1s;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery img:hover {
    transform: scale(1.2);
    transition: 1s;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery #animes-main-third-section-gallery-first-row {
    display: flex;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery #animes-main-third-section-gallery-first-row #animes-main-image-anime {
    width: 50%;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery #animes-main-third-section-gallery-first-row #animes-main-third-section-gallery-first-row-four-images {
    display: flex;
    flex-wrap: wrap;
}

main #animes-main-third-section #animes-main-third-section-first-article #animes-main-third-section-gallery #animes-main-third-section-gallery-first-row #animes-main-third-section-gallery-first-row-four-images img {
    width: 50%;
}

main #animes-main-third-section #animes-main-third-section-second-article {
    width: 30%;
    height: 100%;
}

main #animes-main-third-section #animes-main-third-section-second-article #animes-aside {
    background-color: rgba(160,32,64, 0.3);
    width: 100%;
    padding: 1em;
    text-align: left;
}

main #animes-main-third-section #animes-main-third-section-second-article #animes-aside p {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
    padding: 1em 0 0;
    text-shadow: 0 0 1px #D04064;
}

main #animes-main-third-section #animes-main-third-section-second-article #animes-aside p:first-of-type {
    color: #DB7E95;
    padding: 1em 0 1.5em;
}

#animes-footer p {
    color: #D04064;
    font-weight: 500;
    text-align: center;
    padding: 2em 0;
}