body {
    background-color: blanchedalmond;
    font-family: 'Open Sans', sans serif;
}
#body-main {
    background-color: blanchedalmond;
}

#oskill-right-header-h1 {
    color: #000000;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 0 2px #000000;
    margin-left: 30px;
}

#oskill-left-main-h2 {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 0 0 5px #000000;
}

#oskill-left-main-h2 #oskill-left-main-subtitle {
    color: #FFFFFF;
    font-size: 0.5em;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0 0 5px #000000;
    margin-left: 1em;
}

#oskill-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

#oskill-left {
    background-image: url('../images/oskill/nezuko.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#oskill-left-header-help {
    width: 50px;
    color: #FFFFFF;
    text-transform: uppercase;

    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 50px;
}

#oskill-left-header-help {
    font-size: 1.5em;
    font-weight: 700;
}

#oskill-left-main {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    text-align: right;
    padding: 2em;
    margin: 0 2em;
}

#oskill-left-main p {
    font-size: 1em;
    text-shadow: 0 0 5px #000000;
    margin-top: 1em;
}

#oskill-left-footer {
    display: flex;
    justify-content: flex-end;
}

#oskill-left-footer #oskill-nav {
    padding: 1rem;
    display: flex;
    gap: 3em;
}

#oskill-left-footer #oskill-nav a {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
}

#oskill-left-footer #oskill-nav a:hover {
    color: #000000;
    font-weight: 600;
    text-shadow: 0 0 2px #FFFFFF;
}

#oskill-right {
    width: 50%;
}

#oskill-right-header {
    background-color: #B08395;
    height: 70px;
    border: 2px solid #E2CED6;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#oskill-right-main {
    background-color: #FFFFFF;
    height: calc(100vh - 70px);

    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

#oskill-right-main .oskill-right-main-section {
    width: 50%;
    height: 400px;
    border-top: 2px solid #E2CED6;
    border-left: 2px solid #E2CED6;
    padding: 2em;
}