#body {
    background-color: #EED9C4;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#body-main {
    background-color: #EED9C4;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#fiche-lecture-container {
    width: 900px;
    text-align: center;
    margin: 0 auto;
}

#fiche-lecture-header, #fiche-lecture-footer {
    background-color: #D9B99B;
    color: white;
}

#fiche-lecture-footer p {
    text-align: center;
}

#fiche-lecture-footer p#fiche-lecture-footer-strong {
    color: black;
    font-weight: 700;
}

#fiche-lecture-footer p#fiche-lecture-footer-strong a {
    color: white;
    text-decoration: none;
}

#fiche-lecture-footer p#fiche-lecture-footer-strong a:hover {
    color: black;
}

#fiche-lecture-h1, .fiche-lecture-h2, .fiche-lecture-h3 {
    text-transform: uppercase;
}


.fiche-lecture-h2, .fiche-lecture-h3, .fiche-lecture-h4 {
    font-weight: 600;
}

#fiche-lecture-h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
    padding: 0.2em 0;
    text-shadow: 0 0 2px white;
}

.fiche-lecture-h2 {
    font-family: 'Roboto', sans-serif;
    color: #D9B99B;
    font-size: 1.7em;
    padding: 0.2em 0;
    text-shadow: 0 0 2px #D9B99B;
}

.fiche-lecture-h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.4em;
    font-style: italic;
    padding: 0.5em 0 0;
}

.fiche-lecture-h4 {
    color: black;
    font-size: 1.2em;
}

#fiche-lecture-header-title-esperluette {
    font-size: 2.3em;
}

.fiche-lecture-section {
    background-color: #FAF0E6;
    color: black;
    font-size: 1em;
    padding: 1em 1em;
    margin: 1em 0;
}

.fiche-lecture-section .fiche-lecture-article {
    background-color: #E4D5B7;
    line-height: 1.5;
    padding: 0.5em 0.5em;
    margin: 1em 0;
}

strong.bold-underline-title {
    background-color: #b69e7d;
    font-weight: 600;
    text-transform: uppercase;
}

strong.bold-underline {
    background-color: #b69e7d;
    font-weight: 600;
}

#fiche-lecture-em {
    border-top: 2px solid black;
    font-style: italic;
}

p {
    color: black;
    text-align: left;
    line-height: 2;
    margin: 1.3em 0;
}

p:first-of-type {
    margin-top: 0.5em;
}

p:last-of-type {
    margin-bottom: 0;
}

ul#fiche-lecture-first-point {
    color: black;
    text-align: left;
    line-height: 1.5;
    margin-left: 50px;
}

ul#fiche-lecture-second-point {
    text-align: left;
    margin-left: 50px;
}

ul#fiche-lecture-third-point {
    text-align: left;
    margin-left: 50px;
}

img {
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 1.5em 0;
    pointer-events: none;
}