body {
    background-color: #42292F;
}

#container {
    width: 800px;
    color: white;
    font-family: 'Open Sans';
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: 700;
}

h1, h2, h3, h4 {
    font-weight: 700;

}

h1, h3 {
    background-color: #A02040;
}

h2, h4 {
    color: #D04064;
}

h3, h4 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0 0.7em;
    border-bottom: 3px solid black;
    border-radius: 0.3em;
}

h2 {
    font-size: 1.3em;
    padding: 0.5em 0 0.7em;
}

h3 {
    width: 250px;
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em 0;
}

h4 {
    font-size: 1.1em;
    padding: 0 0 0.7em;
    border-bottom: 3px solid #D04064;
}

header #first-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

header #first-wrap #header-link-infos a {
    color: #DB7E95;
    font-size: 1em;
    margin-right: 2em;
}

header #first-wrap #header-link-infos a:hover {
    color: #FFD3D7;
}

header #first-wrap #header-link-medias img {
    width: 30px;
    margin-right: 0.3em;
    transition: 1s;
}

header #first-wrap #header-link-medias img:hover {
    transform: scale(1.3);
    transform: rotate(360deg);
    transition: 1s;
}

main a.text-link {
    color: #DB7E95;
    text-decoration: underline;
}

main a.text-link:hover {
    color: #FFD3D7;
}

main #main-first-section p {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
    padding: 0.5em 0 1em;
}

main #main-second-section {
    position: relative;
}

main #main-second-section h3 {
    position: absolute;
    top: 0;
}
main #main-second-section img {
    width: 100%;
    pointer-events: none;
}

main #main-third-section {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

main #main-third-section #main-third-section-first-article {
    width: 70%;
    padding: 0 3em 0 0;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery img {
    width: 25%;
    padding: 0.2em;
    transition: 1s;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery img:hover {
    transform: scale(1.2);
    transition: 1s;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery #main-third-section-gallery-first-row {
    display: flex;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery #main-third-section-gallery-first-row #main-image-anime {
    width: 50%;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery #main-third-section-gallery-first-row #main-third-section-gallery-first-row-four-images {
    display: flex;
    flex-wrap: wrap;
}

main #main-third-section #main-third-section-first-article #main-third-section-gallery #main-third-section-gallery-first-row #main-third-section-gallery-first-row-four-images img {
    width: 50%;
}

main #main-third-section #main-third-section-second-article {
    width: 30%;
    height: 100%;
}

main #main-third-section #main-third-section-second-article aside {
    background-color: rgba(160,32,64, 0.3);
    width: 100%;
    padding: 1em;
}

main #main-third-section #main-third-section-second-article aside p {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
    padding: 1em 0 0;
}

main #main-third-section #main-third-section-second-article aside p:first-of-type {
    color: #DB7E95;
    padding: 1em 0 1.5em;
}

footer p {
    color: #D04064;
    font-weight: 500;
    text-align: center;
    padding: 2em 0;
}