#body {
    background-color: blanchedalmond;
    font-family: 'Open Sans', sans serif;
}
#body-main {
    background-color: blanchedalmond;
}

#oskill-right-header-h1 {
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 0 2px #FFFFFF;
    margin-left: 30px;
}

#oskill-left-main-h2 {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 0 0 5px #000000;
}

#oskill-left-main-h2 #oskill-left-main-subtitle {
    color: #FFFFFF;
    font-size: 0.5em;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0 0 5px #000000;
    margin-left: 1em;
}

#oskill-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

#oskill-left {
    background-image: url('../images/oskill/girl.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#oskill-left-header-help {
    width: 50px;
    color: #000000;
    text-shadow: 0 0 3px #000000;
    text-transform: uppercase;

    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 50px;
}

#oskill-left-header-help {
    font-size: 1.5em;
    font-weight: 700;
    text-align: left;
}

#oskill-left-main {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: right;
    padding: 2em;
    margin: 0 2em;
}

#oskill-left-main .oskill-left-main-p {
    color: #FFFFFF;
    font-size: 1em;
    text-shadow: 0 0 5px #000000;
    margin-top: 1em;
}

#oskill-left-footer {
    display: flex;
    justify-content: flex-end;
    text-shadow: 0 0 3px #000000;
}

#oskill-left-footer #oskill-nav {
    padding: 1rem;
    display: flex;
    gap: 3em;
}

#oskill-left-footer #oskill-nav a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

#oskill-left-footer #oskill-nav a:hover {
    color: #D10157;
    font-weight: 600;
    text-shadow: 0 0 2px #D10157;
}

#oskill-right {
    width: 50%;
}

#oskill-right-header {
    background-color: #000004;
    height: 70px;
    border: 2px solid #D10157;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#oskill-right-main {
    background-color: #FFFFFF;
    height: calc(100vh - 70px);

    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

#oskill-right-main .oskill-right-main-section {
    width: 50%;
    height: 400px;
    border: 2px solid #D10157;
    padding: 2em;
}

#oskill-right-main .oskill-right-main-article {
    text-align: left;
}

#oskill-right-main .oskill-skill {
    width: 100px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 10px;
    text-transform: uppercase;
}

#oskill-right-main .oskill-right-main-section .oskill-skill1 {
    background-color: red;
}

#oskill-right-main .oskill-right-main-section .oskill-skill2 {
    background-color: orange;
}

#oskill-right-main .oskill-right-main-section .oskill-skill3 {
    background-color: yellow;
}

#oskill-right-main .oskill-right-main-section .oskill-skill4 {
    background-color: lightgreen;
}

#oskill-right-main .oskill-right-main-section .oskill-skill5 {
    background-color: lightskyblue;
}

#oskill-right-main .oskill-right-main-section .oskill-skill6 {
    background-color: violet;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills {
    background-color: #E9E9E9;
    width: 100%;
    height: 1.5em;
    text-align: center;
    border-radius: 10px;
    padding: 0.3em;
    margin: 2em auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills-personnel {
    background-color: green;
    height: 1em;
    border-radius: 10px;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills1 {
    width: 95%;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills2 {
    width: 50%;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills3 {
    width: 20%;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills4 {
    width: 50%;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills5 {
    width: 50%;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills6 {
    width: 75%;
}

#oskill-right-main .oskill-right-main-section .oskill-barre-skills .oskill-barre-skills-personnel .oskill-percent-skills {
    color: #FFFFFF;
    font-weight: 600;
}

#oskill-right-main .oskill-right-main-section  .oskill-read-more {
    background-color: none;
    padding: 1.5em 0;
    text-align: left;
}

#oskill-right-main .oskill-right-main-section  .oskill-read-more a {
    color: blue;
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#oskill-right-main .oskill-right-main-section  .oskill-read-more a:hover {
    color: #D10157;
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
}

a.back-to-home {
    width: fit-content;
    background-color: black;
    border: 1px solid white;
    border-radius: 0.3em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    padding: 1em 0.5em;
    margin: 1em 0;
    display: block;
}