#body {
    background-image: url('../images/karmine-corp/bluewall.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 300px;
    background-attachment: fixed;
    font-family: 'Oswald';
    padding: 1em;
}

#body-main {
    background-image: url('../images/karmine-corp/bluewall.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 300px;
    background-attachment: fixed;
    font-family: 'Oswald';
    padding: 1em;
}

#karmine-corp-container {
    background-color: #FFFFFF;
    width: 800px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    padding: 1em;
    margin: 0 auto;
    position: relative;
}

#karmine-corp-header {
    height: 15em;
    background-image: url('../images/karmine-corp/KC_logo_black.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 250px;
    margin: 1.5em 0;
}

#karmine-corp-h1, .karmine-corp-h2, .karmine-corp-h3 {
    font-weight: bold;
    font-family: 'Oswald';
    margin: 0 auto;
}

#karmine-corp-h1 {
    color: #000000;
    width: 750px;
    font-size: 2em;
    text-shadow: 0 0 2px black;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 0.5em 0 0.7em;
    position: relative;
    top: 255px;
}

.karmine-corp-h2 {
    color: #000000;
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;
}


.karmine-corp-h3 {
    color: #003BBF;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

#karmine-corp-header #karmine-corp-header-strong {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.5em;
    padding: 0.3em 0.7em;
    margin: 0 0.7em;
}

#karmine-corp-main p {
    text-align: left;
    line-height: 1.4;
    padding: 0.5em 1em;
}

#karmine-corp-container-presentation  {
    background-color: lightgray;
    width: 700px;
    margin: 110px auto 0;
}

#karmine-corp-container-presentation #karmine-corp-club-presentation {
    color: black;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#karmine-corp-container-presentation #karmine-corp-club-presentation #karmine-corp-club-logo-white {
    width: 150px;
    height: 120px;
    padding: 0 0 0 1em;
}

#karmine-corp-container-presentation #karmine-corp-club-presentation #karmine-corp-strong {
    font-weight: 700;
}

#karmine-corp-container-presentation #karmine-corp-club-discovery{
    margin: auto;
}

#karmine-corp-container-presentation #karmine-corp-club-discovery p {
    width: 95%;
    color: black;
    border-top: 2px solid darkblue;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding: 1em 0;
    margin: 1em auto;
}

#karmine-corp-container-presentation #karmine-corp-club-kcorp p {
    color: black;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

#karmine-corp-container-presentation #karmine-corp-club-kcorp p:last-child {
    padding-bottom: 2em;
}

#karmine-corp-container-players em {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
}

#karmine-corp-container-players nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#karmine-corp-container-players a {
    background-color: lightgray;
    color: black;
    text-transform: uppercase;
    padding: 0.5em 2em;
    margin: 0.5em 1em;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: 1s;
}

#karmine-corp-container-players a:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}

#karmine-corp-container-pictures .karmine-corp-article {
    background-color: none;
    width: 200px;
    border: 1px solid lightgray;
    padding: 1em 1em;
    margin: 0.5em auto;
}

#karmine-corp-container-pictures #karmine-corp-wrap {
    display: flex;
    flex-wrap: wrap;
}

#karmine-corp-container-pictures .karmine-corp-article img {
    width: 150px;
    margin-bottom: 20px;
    pointer-events: none;
}

#karmine-corp-container-pictures .karmine-corp-article p {
    text-align: center;
}

#karmine-corp-footer {
    background-color: lightgray;
    margin: 1em 1em;
}

#karmine-corp-footer p {
    font-size: 1em;
    padding: 1.5em 0 4em;
}