body {
    background-color: #9F9F9F;
}

a {
    text-decoration: none;
}

#header-h1 {
    color: #EC5300;
    font-family: 'Dancing Script', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 0 0 5px #EECC63;
}

#header-h2 {
    color: #EECC63;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 0 0 5px rgba(230,230,230, 0.7);
    text-transform: uppercase;
}

main #summary {
    width: 300px;
    height: 100vh;
    background-color: #000000;
    border-left: 5px solid #EC5300;
    border-right: 5px solid #EC5300;
    padding: 30px 0;
    position: absolute;
    left: 1.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main #summary nav {
    text-shadow: 0 0 3px #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

main #summary nav a {
    color: #EECC63;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    transition: 0.5s;
}

main #summary nav a:hover {
    color: #EC5300;
    font-weight: 700;
    text-shadow: 0 0 1px #FFFFFF;
    transform: scale(1.1);
    transition: 0.5s;
}

main #summary p a {
    color: #EECC63;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0 0 3px #FFFFFF;
    display: block;
    text-align: center;
    padding-bottom: 0.3em;
}

main #summary p a:hover {
    color: #EC5300;
    text-shadow: 0 0 0px #EC5300;
}

main #summary em {
    color: #EC5300;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 0 0 5px #EC5300;
}

main #main-section {
    background-color: #00220E;
    height: 100vh;
    color: #9F9F9F;
    text-align: center;
    text-shadow: 0 0 3px #9F9F9F;
    border-right: 5px solid #EC5300;
    padding-left: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

main #main-section #main-section-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #main-section #main-section-container {
    height: calc(100vh - 150px);
    overflow: auto;
}

main #main-section #main-section-container-page {
    height: 100vh;
    overflow: auto;
}

main #main-section #main-section-container article {
    font-size: 1.5em;
}

#main-footer p {
    height: 50px;
} 

#main-footer p {
    color: #A2A2A2;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
} 